<header>
    <header class="header">
        <div class="header_nav">
            {{#with header}}
            <div class="header_nav_logo">
                <a href="#" class="logo_text">{{brandName}}</a>
            </div>
            <div class="header_nav_links">
                {{#each links}}
                <a href="{{url}}" class="header_nav_link">{{text}}</a>
                {{/each}}
            </div>
            {{/with}}
        </div>
        <div class="header_ad">
            <div class="ad_left">
                <span class="header_nav_button_ad">Ad</span>
                <a href="{{header.ad.url}}" class="header_user"> {{header.ad.text}}</a>
            </div>

            <span class="header_users"> Users online: {{header.userOnline}}</span>
        </div>
    </header>
</header>